body{
  background:rgb(85,255,0);
  font-family:"Fira Code",sans-serif;
  line-height:2.5em;
  text-align: justify;
}
h1{
  background: linear-gradient(45deg, rgb(255,0,0), rgb(85,0,255), rgb(255,0,60));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align:center;
  font-size:2em;
}
.cont{
  font-style:italic;
  line-height:1.5em;
}
h2{
  text-decoration:underline;
}
.opensource-benefits,.linux-benefits{
  margin:50px 0px 0px 50px;
}

#opensource-img,#linux-img{
  width:200px;
  height:150px;
  float:left;
  margin-right:10px;
  margin-bottom:0px;
}
#opensource-model{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
#container-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  width:500px;
  height:300px;
}
.container .content {
  position: absolute;
  margin-left: 135px;
  margin-right: auto;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255,255,255);
  width: 480px;
  padding: 20px 20px 20px 60px;
}
